@import './mixin.scss';

.index {
	text-align: justify;
	background-color: rgb(254,94,0);
}
.next {
	background:rgba(245,245,245,1);
	height: 100vh;
	min-height:100vh;
	max-height:100vh;
}
.home_banner {
	width: 100%;
	margin-top: -5px;
}

.info_section {
	z-index: 2;
	position: relative;
	background: rgba(245,245,245,1);
}

.layout {
	padding: 0 15px 5px;
	z-index: 3;
}

.form::after {
	position: absolute;
	content: '';
	left: -3px;
	bottom: -3px;
	top: -3px;
	right: -3px;
	border-radius: 10px;
	background-image: linear-gradient(180deg, rgba(247, 214, 128, 1), rgba(249, 150, 150, 1));
	z-index: -1;
}

.form {
	box-sizing: border-box;
	position: relative;
	padding: 7px 12px 0;
	border-radius: 8px;
	background-color: #fff;

	@media screen and (max-width: 325px) {
		padding: 7px 15px 0;
	}
}

.set {
	text-align: center;
	color: #a7a7a7;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	transform: perspective(1000);
	img {
		width: 63px;
		height: 13px;
	}
	.right {
		transform: rotateY(180deg);
	}
	.set_inner {
		display: flex;
		margin: 0 10px;
		// @media screen and (max-width: 325px){
		// 	margin: 0 5px;
		// }
	}
}

.self-div {
	float: left;
	width: 50%;
	background-position: 10% 30%;
}

.self-div>img {
	display: block;
	margin: 7px 0 0 25px;
	width: 63px;
}

.other-div {
	float: right;
	width: 50%;
	background-position: 90% 30%;
}

.other-div>img {
	display: block;
	margin: 7px 0 0 66px;
	width: 63px;
	transform: rotateY(180deg);
}

.set .self,
.set .other {
	background-color: #fbe2de;
	font-size: 14px;
	cursor: pointer;
	color: #ff907c;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 25px;
}

.set .self.active,
.set .other.active {
	background-color: #ff907c;
	color: #fff;
}

.set .self {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.set .other {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.set-left {
	float: left;
}

// .input-name {
//   width: 40%;
// }

/*性别*/

.sex {
	width: 30%;
	margin-top: 5px;
	float: right;
	display: block;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.sex-female,
.sex-male {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F6A869;
	width: 38px;
	height: 25px;
	font-size: 0;
	position: relative;
}

.sex-female {
	background: #f6deca;
	border-radius: 50px 0 0 50px;

	.sex-icon {
		@include bg('../assets/girl_icon');
		background-size: cover;

		&.active {
			@include bg('../assets/girl_un_icon');
		}
	}
}

.sex-male {
	background: #f6deca;
	border-radius: 0px 50px 50px 0px;

	.sex-icon {
		@include bg('../assets/boy_un_icon');
		background-size: cover;

		&.active {
			@include bg('../assets/boy_icon');
		}
	}
}

.sex-on {
	background: #f6a869;
	color: #fff;
}

.sex-icon {
	width: 12px;
	height: 12px;
	margin-right: 2px;
	// vertical-align: middle;
}

.sex-type {
	// display: inline-block;
	// vertical-align: middle;
	font-size: 14px;
	cursor: pointer;
}

//   .sex-male > .sex-type {
//     color: #f6a869;
//   }

.whiteBack {
	background: #FFF;
}
.form-item {
	position: relative;
	padding: 0 15px;
	z-index: 3;
}

.form-item:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background-color: #F3F3F3;
}

.form-item-bord01 {
	border-bottom: 0px solid #a2a2a2;
}

.form-item-noBord {
	margin-bottom: 0;
}

// .form-item-noBord:before {
// 	background-color: #fff;
// }

input {
	background-color: #fff;
	font-size: 15px;
}

.form-item-label {
	text-align: left;
	vertical-align: middle;
	font-size: 15px;
	color: #333;
	line-height: 1;
	padding: 19px 30px 18px 0;
	font-family: PingFangSC;
	text-align: left;
	letter-spacing: 1.2px;
	// font-weight: 580;
	background-color: #FFF;
	float: left;
}
.hidden {
	display: none;
}
.form-item-input {
	line-height: 19px !important;
	font-size: 12px;
	color: #333333;
	// margin-top: 9px;
	float: left;
}

.form-item-input-place {
	margin-top: 16px;
}

.input-name {
	padding: 19px 0 18px;
	line-height: 1;
	width: calc(100% - 128px);
	@media screen and (max-width: 325px) {
		width: calc(100% - 128px);
	}
}
.input-name-a {
	padding: 19px 0 18px;
	line-height: 1;
	width: calc(100% - 112px);
	@media screen and (max-width: 325px) {
		width: calc(100% - 112px);
	}
}
.input-name-b {
	padding: 19px 0 18px;
	line-height: 1;
	width: calc(100% - 95px);
	@media screen and (max-width: 325px) {
		width: calc(100% - 95px);
	}
}

.input-inner {
	border: none;
	outline: none;
	font-size: 15px;
	color: #333;
	&.selected {
		-webkit-text-fill-color: #333333;
	}
}

.wnl_cityPicker {
	-webkit-user-select: none;
	width: 100%;
}

textarea {
	resize: none;
	height: 40px;
}

.dw-i {
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0;
}
.clearfix {
	clear: both;
}

.tips {
	font-size: 13px;
	color: #f29b95;
	text-align: center;
	padding: 0 0 15px;
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.tips_icon {
		width: 6px;
		height: 9px;
		@include bg('../assets/csrq_more');
		background-size: cover;
		margin-left: 4px;
	}
}

.submit {
	border-radius: 8px;
	background-color: #ff7f68;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	padding: 14px 0;
	cursor: pointer;
}

.comic {
	padding: 0 5px 5px 5px;
	border-radius: 8px;
	box-shadow: 2.4px 4.4px 16px 0 rgba(131, 47, 38, 0.19);
	margin: 15px 0;
	background-color: #fff;
}

.comic-item {
	width: 100%;
	height: 150px;
	margin-bottom: 5px;
	background: #000;
}

.comic-item-img {
	position: absolute;
	width: 92%;
	height: 150px;
	opacity: 0.4;
	z-index: 1;
}

.comic-item-content {
	z-index: 3;
	height: 37.5px;
	margin: 0 20px 0 20px;
	display: block;
	padding-top: 58px;
	font-family: PingFangSC;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.6px;
	text-align: center;
	color: #fefefe;
}

.comic-title {
	font-size: 16px;
	text-align: center;
	color: #323232;
	margin-bottom: 15px;
}

.comic-title span {
	display: inline-block;
	margin-top: 15px;
}

.comic-title .keywords {
	border-radius: 4px;
	background-color: #ffb165;
	font-size: 12px;
	color: #ffffff;
	margin: 0 4px 2px 4px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 1px;
	width: 43px;
	height: 16px;
}

.comic-title .keywords:nth-child(2) {
	background-color: #6dd8ff;
	width: 43px;
	height: 16px;
}

/*弹窗*/

.prompt_explain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	overflow: hidden;
	z-index: 1002;

	.prompt_inner {
		width: 89.3%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -44.7%;
	}
}

.close_img {
	background: url('../assets/close.png') center no-repeat;
	background-size: cover;
	position: absolute;
	width: 28px;
	height: 28px;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

.explain_title {
	height: 66.5px;
	text-align: center;
	font-size: 16px;
	line-height: 67px;
	color: #ffffff;
	font-weight: 500;
	background-color: #F19C97;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.explain_content {
	background-color: #fff;
	padding: 15px 23.5px 20px 20.5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 14px;
	line-height: 18px;
	color: #535353;
}

.dismissal_section {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;
	position: relative;
	margin-top: -30px;
	margin-bottom: 9px;
	z-index: 1;
	.dismissal_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 1;
	}

	.home_dismissal_icon {
		width: 143px;
		margin: 0 auto 10px;
		z-index: 2;
	}

	.home_petal_bg {
		width: 100%;
		position: absolute;
		top: 0;
		// transform: translateY(-48%);
		transform: translateY(-23%);
		z-index: 0;
		// bottom: 0;
	}
}

// .home_petal_bg {
// 	width: 100%;
// 	transform: translateY(-18%);
// 	z-index: 0;
// }

.cesuan_num {
	padding: 5px 15px;
	background: #f0ab9a;
	border-radius: 20px;
	color: #fff;
	font-size: 13px;
	line-height: 1;
}

.master_section {

	// padding: 37px 12px 17px;
	.master_section_inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		box-sizing: border-box;
		padding-bottom: 15px;
		margin-bottom: 15px;

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			content: '';
			background: #f3f3f3;
		}

		.master_info {
			text-align: center;
			margin-right: 20px;

			.master_img {
				width: 80px;
				height: 80px;
				border-radius: 50%;
			}

			.master_name {
				font-weight: 580;
				color: #333;
				font-size: 16px;
				margin-top: 10px;
			}
		}

		.master_desc {
			color: #333;
			font-size: 15px;
			line-height: 21px;
			flex: 1;
		}
	}

	.master_txt {
		color: #333;
		font-size: 15px;
		line-height: 21px;
		margin-top: 15px;
	}
}

.raiders_section {
	// padding: 34px 12px 17px;

	.raiders_section_inner {
		.raiders_title {
			width: 215px;
			text-align: center;
			font-size: 15px;
			color: #E08C86;
			background-color: #FFF6F5;
			border-radius: 27px;
			margin: 0 auto 9px;
			padding: 10px 18px;

			.small_title {
				font-size: 13px;
			}
		}
	}
}

.wx_copy_wrap {
	margin: 0 15px;

	.wx_copy_img {
		box-sizing: border-box;
		width: 100%;
	}
}

.info_line{
	padding: 19px 15px 18px;
	line-height: 1;
}
.leftSpan{
	width:60px;
	height:15px;
	font-size:15px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(53,60,70,1);
	line-height:15px;
}
.rightSpan{
	float: right;
	color: rgba(251, 102, 54, 1);
}
.info_line p{
	font-size:13px;
	font-weight:400;
	color:rgba(153,153,153,1);
	line-height:18px;
	margin-bottom: 12px;
}

.pay{
	position: absolute;
	z-index: 2;
	bottom: 0;
	width:100vw;
	height:56px;
	background:rgba(255,255,255,1);
}
.money{
	float:left;
	width: 60%;
	line-height: 56px;
	padding-left: 15px;
	box-sizing: border-box;
}
.go{
	width: 40%;
	float: right;
	text-align: center;
	line-height: 56px;
	background:linear-gradient(90deg,rgba(255,135,82,1) 0%,rgba(255,97,31,1) 100%);
	color: #FFF;
}